body {
  font-family: "Poppins", sans-serif;
  display: flex;
  margin: 0;
}

* {
  transition: all 0.25s;
}

#block1 {
  z-index: 0;
  width: 50vw;
  height: 100vh;
}

#block2 {
  z-index: 0;
  width: 50vw;
  height: 100vh;
}

form {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form h1 {
  margin: 0;
  padding: 0;
  color: #333;
  text-align: center;
}

form input {
  height: 40px;
  font-size: 25px;
  border: none;
  outline: none;
  border-bottom: 1px solid #333;
}

form input[type="submit"] {
  background: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

#trainForm h1 {
  margin: 0;
  padding: 0;
  color: #333;
  text-align: center;
}

#trainForm input {
  height: 100px;
  font-size: 25px;
  border-radius: 5px;
  border-bottom: 1px solid #333;
  border: none;
  outline: none;
  background: #333;
  color: #fff;
  cursor: pointer;
}

#accept:hover {
  background: green;
}

#reject:hover {
  background: rgb(195, 0, 0);
}

.hidden {
  z-index: -1 !important;
}
